.aboutUs-content {
  &__banner {
    height: 50vh;
    background-image: url('../../../../public/img/mikhail-vasilyev-Qmox1MkYDnY-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__title {
      position: absolute;
      top: 40%;
      left: 17%;

      & h2 {
        padding: 20px;
        text-align: center;
        color: azure;
        font-size: 1.25rem;
        background: linear-gradient(180deg,
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3));
      }
    }
  }

  &__banner__bottom {
    height: 50vh;
      background-image: url('../../../../public/img/emre-153_VPk1NZQ-unsplash.jpg');
      background-repeat: no-repeat;
      background-position:center;
      background-size:cover;
      position: relative;
      &__title {
      height: 100%;
      background: linear-gradient(180deg,
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3));
            padding-top: 30px;
          & h2 {
            text-align: center;
            color: azure;
            font-size: 1.25rem;
          }
        }
  }

  &__wrap {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

    &__left {
      width: 85%;
      margin: 0 auto;
    }
    &__right {
      padding: 10%;

      & h2 {
        text-align: center;
        font-size: 1.25rem;
      }

      & p {
        line-height: 26px;
        font-size: 1rem;
        text-align: start;
      }
    }
}

@media screen and (min-width: 992px) {
  .aboutUs-content {
   display: flex;
   justify-content: space-around;
   &__left {
    width: 100%;
   }
  }
}