.aboutUs-content {
  &__banner {
    background-image: url('../../../../public/img/mikhail-vasilyev-Qmox1MkYDnY-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
      padding: 25%;
      & h2 {
        width: 30%;
        padding:9.5%;
        text-align: center;
        color: azure;
        font-size: 1.25rem;
        background: linear-gradient(180deg,
            rgba(0, 0, 0, .3),
            rgba(0, 0, 0, .3));
      }
    }
  }

  &__warp {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 50%;
  }

  &__top {
    &__left {
      width: auto;

      & img {
        height: 100%;
      }
    }

    &__right {
      padding: 10%;

      & h2 {
        text-align: center;
        font-size: 1.25rem;
      }

      & p {
        line-height: 26px;
        font-size: 1rem;
        text-align: start;
      }
    }
  }

  &__bottom {
    & h2 {
      margin-top: 20px;
      text-align: center;
    }
  }
}
@media screen and (min-width: 667px) {
  .aboutUs-content {
    &__bottom {
        &__left {
          & iframe{
            width: 100%;
           height: 400px;
          }
        }
      }
  }
}