.animalCard {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(46%, 46%));
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  &__wrapper {
    border-radius: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;

    & .fa-heart {
      color: #FF69B4;
      font-size: 20px;
      margin: 7px auto;
    }

    & .animalCard__like-button {
      width: 35px;
      height: 35px;
      background-color: #fff;
      border: none;
      opacity: 0.5;
      border-radius: 50%;
      position: absolute;
      left: 70%;
      top: 5%;
    }
  }

  &__info-button {
    position: fixed;
    top: 100%
  }

  &__img {
    height: 200px;
    width: 100%;
  }

  &__body {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 16px 10px 22px;
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px #cbd1d7 solid;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  }

  &__body::before {
    content: "";
    display: block;
    height: 25px;
    border-radius: 50% 50% 0 0;
    position: absolute;
    bottom: calc(100% - 10px);
    right: -0.1px;
    left: -0.1px;
    background-color: #fff;
  }

  &__info {
    & h4 {
      font-size: small;
    }
  }
}


@media screen and (min-width:768px) {
  .animalCard {
    &__container {
      grid-template-columns: repeat(3, minmax(26%,26%));
      gap: 1.5rem;
    }
         &__img {
           height: 180px;
           width: 100%;
         }
  }
}

@media screen and (min-width:992px) {
  .animalCard {
    &__container {
      grid-template-columns: repeat(4, minmax(200px, 200px));
      gap: 1.5rem;
    }
  }
}

@media screen and (min-width:1440px) {
  .animalCard {
    &__container {
      grid-template-columns: repeat(5, minmax(200px, 200px));
      gap: 1.5rem;
    }

    &__wrapper {
      cursor: pointer;

      & .animalCard__like-button {
        transition: opacity 0.3s ease-out;
        cursor: pointer;
      }

      & .animalCard__like-button:hover {
        opacity: 1;
      }
    }
  }
}