.detailPage {
  &__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__catInfo {
    &__content {
      &__text {

        &__id,
        &__remark {
          & h2 {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }

      & h6 {
        font-size: .7rem;
      }
    }

    &__img {
      display: flex;
      flex-direction: column;
      height: 500px;

      & img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    &__buttonGroup {
      height: 150px;
      width: 100%;
      margin: 20% auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

      & button {
        width: 30%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #212529;
        color: azure;
      }
    }

    &__info-box {

      &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__text {
        border-left: 3px solid #212529;
        margin-left: 5px;

        & h6 {
          font-size: .7rem;
        }
      }
    }
  }

  &__shelterInfo {
    &__info-box {
      &__text {
        border-left: 3px solid #212529;
        margin-left: 5px;
        margin-bottom: 5px;

        & h6 {
          font-size: .7rem;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .detailPage {
    &__catInfo {
      display: flex;

      &__content {
        padding-left: 20px;
        width: 50%;
        &__text {
          &__id {
            font-size: 1.5rem;
          }
        }
      }

      &__img {
        width: 50%;
      }

      &__info-box {
        &__text {
          & h6 {
            font-size: 1rem;
          }

          & h2 {
            font-size: 1.5rem;
          }
        }
      }
    }

    &__shelterInfo {
      &__info-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;

        &__text {
          & h6 {
            font-size: 1rem;
          }

          & h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}