.catInfoModal {
  &__catInfo {
    &__content {
      &__text {

        &__id,
        &__remark {
          & h2 {
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
      }

      & h6 {
        font-size: .7rem;
      }
    }

    &__img {
      display: flex;
      flex-direction: column;

      & img {
        width: 450px;
        height: 400px;
        margin: 0 auto;
      }
    }

    &__buttonGroup {
      height: 55px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

      & button {
        width: 45%;
        height: 80%;
      }

      & .btn-like {
        background-color: #FF69B4;
        color: azure;
      }
    }

    &__info-box {

      &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__text {
        border-left: 3px solid #212529;
        margin-left: 5px;

        & h6 {
          font-size: .7rem;
        }
      }
    }
  }

  &__shelterInfo {
    &__info-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .5rem;

      &__text {
        border-left: 3px solid #212529;
        margin-left: 5px;
        margin-bottom: 5px;

        & h6 {
          font-size: .7rem;
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .catInfoModal {
    &__catInfo {
      display: flex;

      &__content {
        padding-left: 20px;
      }

      &__img {
        & img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
}