
.catFilter {
  &__wrap {
    margin: 10px;

    & button {
      background-color: #212529;
    }
  }
}

@media screen and (min-width: 768px) {
  .catFilter {
    &__wrap {
      margin: 20px auto;
      width: 85%;
      max-width: 1125px;
    }
  }
}
@media screen and (min-width: 1024px){
  .catFilter {
      &__wrap {
        width: 88%;
      }
    }
}
@media screen and (min-width: 1200px) {
  .catFilter {
    &__wrap {
      width: 72%;
    }
  }
}