.banner {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../public/img/cat2.webp');
  background-position: -265px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
& h1{
  color: azure;
  font-size: 1.25rem;
  padding:25px;
  background: linear-gradient(180deg,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, .3));
}
}