.catFliter{
    width: 100%;
    margin-bottom: 50px;
}
.modal-body{
    &__cat-info{
     & img {
         margin-bottom: 10px;
     }
  }
}
.google-map{
  display: flex;
  justify-content: center;
}
@media screen and (min-width:1024px) {
    .modal-body{
    &__cat-info{
        display: flex;
        justify-content: space-evenly;
     & img {
         width: 300px;
         height: 300px;
         margin-bottom: 10px;
     }
  }
}
}
@media screen and (min-width:1440px) {
  .catFliter{
    width: 49%;
 }
}