.modal-body{
    &__cat-info{
     & img {
         margin-bottom: 10px;
     }
  }
}
.google-map{
  display: flex;
  justify-content: center;
}
.cat-poster{
    height: 200px;
    width: 100%;
    background-image: url('./../../../../public/img/cat2.webp');
    background-position: center;
    background-size: cover;
  }
@media screen and (min-width:1024px) {
    .modal-body{
    &__cat-info{
        display: flex;
        justify-content: space-evenly;
     & img {
         width: 300px;
         height: 300px;
         margin-bottom: 10px;
     }
  }
}
}
@media screen and (min-width:1440px) {
 .cat-poster{
    height: 500px;
  }
 .modal-body{
   &__donate-button{
     width:100px;
     height: 40px;
   }
   & #exampleModal{
     outline: 1px solid red;
   }
 }
 .catFliter{
   width: 100%;
   &__container{
     height: 120px;
     width: 65%;
     margin-left: 10px;
   }
   &__wrapper{
     width: 90%;
     padding-top: 40px;
   }
 }
}