.banner {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../public/img/cat2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: azure;
    font-size: 1.25rem;
    padding: 25px;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, .3));
  }
}

.benefit-content__wrap {
  width: 95%;
  margin: 1% auto;
}

.benefit-content-title {
  text-align: center;
  font-size: 1.50rem;
  font-weight: bolder;
  & h2{
     padding-top: 15%;
     padding-bottom: 14%;
  }
}

.benefit-content {
  & li {
    align-items: center;
    margin: 5%;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    &__wrap {
      & h2 {
        text-align: center;
      }

      & p {
        text-align: start;
        line-height: 26px;
      }
    }
  }
}

.singUpLink__wrap {
  background-image: url('../../../../public/img/humberto-arellano-N_G2Sqdy9QY-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.singUpLink {
  &__content {
    padding: 150px 10px;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, .3),
        rgba(0, 0, 0, .3));
    text-align: center;

    & h2 {
      color: azure;
      margin-bottom: 15px;
      font-size: 2rem;
    }
  }
}
.userComment__title {
  text-align: center;
  font-size: 1.50rem;
  margin-top: 10px;
}

.userComment {
  margin-top: 20px;

  & li {
    border: 1px solid rgb(175, 173, 173);
    border-radius: 1.5%;
    text-align: center;
    padding: 30px;
    margin: 5% auto;
    width: 95%;

    & .userComment__comment {
      & .userComment__comment__warp {
        & p {
          line-height: 26px;
          text-align: start;
        }
      }
    }
    & .userComment__image{
      margin: 0 auto;
      height: 200px;
      width: 200px;
      & img {
        border-radius: 50%;
        min-height: 100%;
        min-width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    & h1 {
      font-size: 2rem;
    }
  }

  .benefit-content-title {
    font-size: 2rem;
  }
.benefit-content {
  & li {
    display: flex;
    align-items: center;
  }

  & li:nth-child(1),
  & li:nth-child(3) {
    flex-direction: row-reverse;
  }

  &__image {
    width: 50%;
  }

  &__text {
    width: 50%;

    &__wrap {
      padding: 16%;

      & h2 {
        font-size: 1.3rem;
      }

      & p {
        font-size: 24px;
      }
    }
  }
}
  .userComment {
    display: flex;

    & li {
      width: 30;
      margin: 10px;
      & .userComment__image{
        height: 200px;
        width: 200px;
      }
    }
  }
}
