nav {
  background-color: #212529;
}

.navbar {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__web-name {
    & h3 {
      color: azure;
    }
  }

  &__linkList {
    &__desktop {
      display: none;
    }

    &__mobile {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0%;
      opacity: 0;
      background: #212529;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-out;

      &.open {
        opacity: 1;
        transform: scale(1, 1);
      }

      & ul {
        text-align: center;

        & li {
          padding: 40px;
          border-bottom: 1px solid azure;
        }
      }
    }
  }

  &__mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid azure;
    background: #212529;
    padding: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &__burger-button {
      width: 30px;
      height: 3px;
      background: azure;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }

    &__burger-button::after,
    &__burger-button::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: azure;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }

    &__burger-button::before {
      transform: translateY(-16px);
    }

    &__burger-button::after {
      transform: translateY(16px);
    }

    &.open &__burger-button {
      transform: translateX(-50px);
      background: transparent;
    }

    &.open &__burger-button::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &.open &__burger-button::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

.navbar-nav {
  & li a {
    color: azure;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    &__linkList {
      &__desktop {
        display: block;
      }
    }
  }
}