
.userPage {
  &__userCard {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      & img {
        width: 200px;
        height: 200px;
      }
    }
  &__dropdown {
    width: 40%;
    margin: 20px auto;
  }
  &__navTab{
    padding: 23px;
  }
  &__components{
    &__warp{
      padding-bottom: 31%;
    }
  }
}

@media screen and (min-width:1024px) {
  .modal-body {
    &__cat-info {
      display: flex;
      justify-content: space-evenly;

      & img {
        width: 300px;
        height: 300px;
        margin-bottom: 10px;
      }
    }
  }
}