.container{
  height: 100%;
}
.userPage {
  &__userCard {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & img {
      width: 200px;
      height: 200px;
    }
  }

  &__dropdown {
    width: 40%;
    margin: 20px auto;
  }

  &__navTab {
    padding-bottom: 23px;
  }

  &__components {
    &__CatCard ,&__DonateLog{
      &__message {
        text-align: center;
        & h2 {
          font-size: 1rem;
          padding-top: 20%;
        }
      }
    }
  }
}