.userCard{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & img{
    width: 200px;
    height: 200px;
  }
}
.modal-body{
    &__cat-info{
     & img {
         margin-bottom: 10px;
     }
  }
}
.google-map{
  display: flex;
  justify-content: center;
}
@media screen and (min-width:1024px) {
    .modal-body{
    &__cat-info{
        display: flex;
        justify-content: space-evenly;
     & img {
         width: 300px;
         height: 300px;
         margin-bottom: 10px;
     }
  }
 }
}